<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img [src]="url" />
    <ion-card-header>
      <ion-card-title>Welcome to Belgrade!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item [routerLink]="['/individual']">
      <ion-label>
          Individual landmarks
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['city-tours']">
      <ion-label>
          City tours
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
